# Виртуальное окружение
.venv/
venv/

# Кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE и конфиги
.idea/
.vscode/
*.log

# Тесты (если не запускаются в Docker)
tests/

# Локальные медиа-файлы (если есть)
media/
uploads/

# Приложение FastAPI (если не нужно)
web_app/

# Docker Compose override
docker-compose.override.yml
