{% extends "base.html" %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
<p>Добро пожаловать, {{ user_payload.get('first_name') }}{% if user_payload.get('last_name') %} {{ user_payload.get('last_name') }}{% endif %} — вы в салоне: {{ salon_name }} (slug: {{ salon_slug }})</p>
<h1 class="mb-4">Каталог товаров</h1>

<script>
    // initData как строка
    const initData = "{{ init_data | default('') | escapejs }}";
    console.log("Telegram initData:", initData);

    // userPayload — либо объект, либо null
    const userPayload = {{ (user_payload | tojson) if user_payload else "null" }};
    console.log("Decoded user:", userPayload);
</script>




{% include "catalog_content.html" %}
{% endblock %}
